@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-09-27 21:57:33
 * @version $Id$
 */
/*头部*/
input::input-placeholder {
    color: #ffffff;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    　　color: #fff;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    　　color: #fff;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    　　color: #fff;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    　　color: #ffffff;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ffffff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ffffff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ffffff;
}
::-webkit-input-placeholder {
    color: #ffffff;
}
#wrap{
	max-width: 640px;
	margin:0 auto;
	background: rgb(242, 72, 56);
}
.header img{
	width: 100%;
	display: block;
}
.main{
	background: rgb(242, 72, 56);
	margin-top: 40px;
}
.mian-ul li{
	width: 70%;
	margin:0 auto;
	border-bottom: 1px solid #fff;
	padding-top: 25px;
	padding-bottom: 5px;
	height: 30px;
}
.mian-ul li .sign-input{
	border: none;
	background: none;
	font-size: 16px;
	color: #fff;
	vertical-align: middle;
	float:left;
	line-height: 30px;
	padding-left: 50px;
}
.mian-ul li img{
	vertical-align: middle;
	width: 100%;
}
.mian-ul li span{
	display: block;
	width: 24px;
	float: left;
	margin-left: 10px;
}
.mian-ul li .code-input{
	width: 45%;
}
#code-btn{
    border: none;
    background: #f24838;
    line-height: 30px;
    vertical-align: middle;
    color: #ffffff;
    float: right;
    width: 30%;
    text-align: right;
    cursor: pointer;
}
.popbtn{
	width: 70%;	
	margin: 40px auto;
	height: 45px;
	background-color: #fff;
	border-radius: 22px;
	color: #f24838;
	border:none;
	font-size: 17px;
	font-weight: bold;
	display: block;
	cursor: pointer;
}
@media(max-width: 530px){
	.mian-ul li{
		height: 20px;
		padding-top: 20px;
		padding-bottom: 10px;
		width: 75%;
	}
	.mian-ul li .sign-input{
		line-height: 20px;
		font-size: 15px;
		padding-left: 20px;
	}
	#code-btn{
		font-size: 14px;
		line-height: 20px;
	}
	.mian-ul li span{
		width: 20px;
	}
	.mian-ul li img{
		display: block;
	}
	.popbtn{
		width: 75%;
	}
}
@media(max-width: 345px){
	.mian-ul li .sign-input{
		padding-left: 8px;
		font-size: 14px;
	}
	#code-btn{
		width: 35%;
		font-size: 12px;
	}
	.mian-ul li span{
		margin-left: 0px;
	}
}